@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital@1&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

body {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #a2e2dc;
}

button:hover {
    background-color: #507c78;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(245, 245, 245);

    .imagen {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 15px;
    }

    p {
    margin: 0;
    padding: 10px 20px 40px;
    font-weight: bold;
    color: #a2e2dc;
    font-size: 1.6em;
}

    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

    a{
    padding: 5px 3.5px;
    text-decoration: none !important;
    font-weight: bold;
    color: black;
    font-size: 1em;
}

    a:hover {
    color: #a2e2dc;
}

}

#Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("multimedia/clouds-gd2223565e_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

h1 {
    color: black;
}

h1:hover{
    color: #a2e2dc;
    transform: scale(1.05);
}

p{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}
}

#quienes-somos .container {
    text-align: center;
    padding: 200px 5px;

h2{
    font-size: 3em;
    padding-bottom: 70px;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

}
.nleft{
    background-image: url(multimedia/Vixen\ logo\ photoshop.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.nright{

    background-color: #a2e2dc;

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #a2e2dc;
}

p{
    padding: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-align: center;
}
}


#materiales {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;


.container {
    padding: 150px 12px;
}

h2 {
    margin-top: 0;
    font-size: 3.2em;
}

p {
    display: none;
}

.carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("multimedia/IMG-4304.JPG");
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("multimedia/IMG-4305.JPG");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("multimedia/IMG-4295.JPG");
}
}

.misDatos {
    padding: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;

.row{
    background-color:#a2e2dc !important;
    justify-content: space-between;
    border-radius: 15px;
}
}

footer {
    background-color: rgb(245, 245, 245);

p {
    margin: 40px;
    padding: 12px;
    color: rgb(100, 100, 100);
}

.container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
}

@media (min-width: 720px){
    header {
        position: fixed;
        width: 100%;
    }

    header p{
        text-align: left;
        justify-content: left;
        padding-right: 800px;
        margin-top: 20px;
    }

    header .container {
        flex-direction: row;
        padding-right: 40px;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 10px;
    }

    #materiales .tipoDeMateriales {
        display: flex;
        justify-content: center;
    }

    #materiales p {
        display: block;
        margin-bottom: 30px;
    }

    #materiales h3 {
        margin-top: 0;
    }

    #materiales .carta {
        padding: 20px;
    }

    iframe {
        display: flex;
        justify-content: center;
    }

    .lisArticulos{
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (min-width:720px) and (max-width:1240px){
    header {
        position: fixed;
        width: 100%;
    }

    header p{
        text-align: left;
        justify-content: left;
        padding-right: 30px;
        margin-top: 20px;
    }

    header .container {
        flex-direction: row;
        height: 150px;
        padding-right: 90px;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        
    }

    iframe {
        display: flex;
        justify-content: center;
    }
    
}

/*Aplicando css a "productos"*/

#misProductos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("multimedia/clouds-gd2223565e_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}

h2:hover{
    color: #a2e2dc;
    transform: scale(1.05);
}
}

.lisProductos{
    justify-content: center;
    text-align: center;
    padding: 30px;


.acero {
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
    margin: 30px;
    border-radius: 15px;
}

.acero dt{
    font-size: 1.5em;
    font-family: 'roboto', sans-serif;
    padding-bottom: 15px;
    background-color: #a2e2dc;
    padding-top: 15px;
}

.acero dd{
    padding: 20px;
    text-align: left;
}

.plata {
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
    margin: 30px;
    border-radius: 15px;
}

.plata dt{
    font-size: 1.5em;
    font-family: 'roboto', sans-serif;
    padding-bottom: 15px;
    background-color: #a2e2dc;
    padding-top: 15px;
}

.plata dd{
    padding: 20px;
    text-align: left;
}

.oro {
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
    margin: 30px;
    border-radius: 15px;
}

.oro dt{
    font-size: 1.5em;
    font-family: 'roboto', sans-serif;
    padding-bottom: 15px;
    background-color: #a2e2dc;
    padding-top: 15px;
}

.oro dd{
    padding: 20px;
    text-align: left;
}
}

#misArticulos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("multimedia/clouds-gd2223565e_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

h2{
    display: block;
    text-align: center;
    align-items: center;
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
    padding: 50px;
    margin-top: 40px;
}

h2:hover{
    color: #a2e2dc;
    transform: scale(1.05);
}
}

.lisArticulos{
    justify-content: center;
    text-align: center;
    padding: 30px;

h3{
    font-family: 'Playfair Display', serif;
    text-align: left;
}

@mixin sizes($border, $bcolor){
    border: $border;
    background-color: $bcolor;
}

.venta1{
    @include sizes(2px solid black, rgb(245, 245, 245));
    padding: 80px;
}
.venta2{
    @include sizes(2px solid black, #a2e2dc);
    padding: 80px;
}
.venta3{
    @include sizes(2px solid black, rgb(245, 245, 245));
    padding: 80px;
}
.venta4{
    @include sizes(2px solid black, #a2e2dc);
    padding: 80px;
}
.venta5{
    @include sizes(2px solid black, rgb(245, 245, 245));
    padding: 80px;
}
.venta6{
    @include sizes(2px solid black, #a2e2dc);
    padding: 80px;
}
.venta7{
    @include sizes(2px solid black, rgb(245, 245, 245));
    padding: 80px;
}
}

/*Aplicando css a "mayorista"*/

#somosMayorista{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("multimedia/clouds-gd2223565e_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

h2{
    display: block;
    text-align: center;
    align-items: center;
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
    padding: 50px;
    margin-top: 40px;
}

h2:hover{
    color: #a2e2dc;
    transform: scale(1.0);
}
}

#videoMuestra{

.container{
        padding: 100px;
        justify-content: center;
        align-items: center;
        display: flex;
}

#videoMuestra iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 100px 0 100px;
}
}

#comoFunciona{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 100px;

h3{
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;

}
}

#galeria {
    min-height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 15px;
    padding-bottom: 100px;

.item {
    border-radius: 5px;
    border: 2px solid #000;
    filter: grayscale(100%);
    transition: all 0.7s;
}

.item:hover{
    transform: scale(1.05);
    filter: grayscale(0%);
    transition: all 0.7s;
}

.item1 {
    background-image: url(fotosMayorista/IMG-2808.JPG);
    background-position: center;
    background-size: cover;
}
.item2 {
    background-image: url(fotosMayorista/IMG-2859.jpg);
    background-position: center;
    background-size: cover;
}
.item3 {
    background-image: url(fotosMayorista/IMG-2865.JPG);
    background-position: center;
    background-size: cover;
}
.item4 {
    background-image: url(fotosMayorista/IMG-3158.JPG);
    background-position: center;
    background-size: cover;
}
.item5 {
    background-image: url(fotosMayorista/IMG-3163.JPG);
    background-position: center;
    background-size: cover;
}
.item6 {
    background-image: url(fotosMayorista/IMG_2782.jpeg);
    background-position: center;
    background-size: cover;
}
.item7 {
    background-image: url(fotosMayorista/IMG_2792.jpeg);
    background-position: center;
    background-size: cover;
}
.item8 {
    background-image: url(fotosMayorista/IMG_3171.jpeg);
    background-position: center;
    background-size: cover;
}
}

/*@media only screen and (min-width:360px) {
    #galeria{
        grid-template-columns: 1fr 1fr;
    }
}*/

@media only screen and (min-width:600px) and (max-width:768px) {
    #galeria{
        grid-template-columns: repeat(3, 1fr);
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .item6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .item7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
    
}

@media only screen and (min-width:768px){
    #galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: "img1 img2 img3 img3"
                            "img1 img4 img5 img6"
                            "img7 img4 img8 img8";
    }
    .item1{
        grid-area: img1;
    }
    .item2{
        grid-area: img2;
    }
    .item3{
        grid-area: img3;
    }
    .item4{
        grid-area: img4;
    }
    .item5{
        grid-area: img5;
    }
    .item6{
        grid-area: img6;
    }
    .item7{
        grid-area: img7;
    }
    .item8{
        grid-area: img8;
    }
}

/* Aplicando css a "contacto"*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("multimedia/clouds-gd2223565e_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}

h1:hover{
    color: #a2e2dc;
    transform: scale(1.05);
}
}

.susDatos{
    justify-content: center;
    text-align:left;
    padding: 30px;

.nombre1{
    padding: 30px;
    background-color: #a2e2dc;
    border-radius: 15px;
    border: 2px solid black;
}
.apellido1{
    padding: 30px;
    background-color: #a2e2dc;
    border-radius: 15px;
    border: 2px solid black;
}
.usuario1{
    padding: 30px;
    background-color: #a2e2dc;
    border-radius: 15px;
    border: 2px solid black;
}
.ciudad1{
    padding: 30px;
    background-color: #a2e2dc;
    border-radius: 15px;
    border: 2px solid black;
}

.mensaje1{
    padding: 30px;
    background-color: #a2e2dc;
    border-radius: 15px;
    border: 2px solid black;
}

textarea {
    resize: none;
  }

.btn{
    padding: 10px;
    margin: 15px;
}
}

